/*====================Universals====================*/


/*=====================Fonts========================*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');
/*======================logo========================*/
.logo-size{
  width:100px;
  display:inline-block;
  }
.word-logo{
  font-family: 'Satisfy', cursive;
  color:#F1738D;
  font-size: 40px;
}
/*============================Jumbotron==================*/
.jumbotron{
  background-image: url(../img/hero.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 450px;
}

.jumbotron>p{

  text-transform: uppercase;
  color: #fff;
  font-size: 28px;
  margin-top: 20px;
}

/*featured*/
.btn-default{
  background-color: #5BC0DE;
  color:#fff;
  border:none;
}
.thumbnail{
  background-color: #EDF1F4;
  padding: 16px;

}
.caption>p{
 font-size: 15px;
}


/*sevices*/
#services-section{
  text-align: center;
}
#services-nav>li>a{
  text-transform: uppercase;
}

/*footer*/

footer{
  /*height:200px;*/
  background-color: #231f20;
  padding-top: 20px ;
  padding-bottom:10px;
}
#grey-text{
  color:#bfc0c1;
}
address{
  font-size: 18px;
}
.border-left-grey>a{
  display: block;
  font-size: 18px;
  color:#bfc0c1;
  text-decoration: none;

}
.border-left-grey{
  border-left:solid 1px #302f2f;
}

#footer-logo{
  height:100px;
  width:120px;

}
